.mb-10 {
  margin-bottom: 10px !important;
}

.ant-form-item {
  margin: 10px !important;
}

.ant-form-item-label {
  padding: 0 !important;
}

.ant-card-actions {
  background: transparent;
  border: none !important;

  li {
    padding: 0 12px;
  }
}

.card-search-flight {
  & > .ant-card-head {
    padding: 0 !important;
    border-bottom: none;

    .ant-card-head-title {
      h2 {
        margin: 0 !important;
      }
    }

    .ant-form-item-explain {
      display: none !important;
    }
  }
}